@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,300;1,200&family=Rubik+Glitch&display=swap');
body{
    background-color: #191414;
    font-family: 'Poppins', sans-serif;
    color: white;

}

h1{
    text-align: center;

}

.divs{
    text-align: center;
    
    
    
}

img{
    width: 225px;
    margin: auto;
    text-align: center;
    border-radius: 9px;
}   
img:hover{
     border-radius: 18px;
     background-color: green;
     width: 240px;
}

div{
    margin: auto;
    text-align: center;
}

.playlists{
    margin: auto;
    display: inline-block;
    box-shadow: 1px 1px 5px black;
    
}
